@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* =======================RESET====================== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} /* Меняет подсчет ширины блока для более простого подсчета размеров*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  /* font-size: 100%; */
  /* font-size: 16px; */
  /*запрещяет самовольное увеличение шрифта на айфонах*/
  /* -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; */
  /*запрещяет самовольное увеличение шрифта на айфонах*/
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
} /*убирает крестик в инпуте на Майкрософт IE*/
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /*убирает отступы для кнопок в Mozila*/
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
}
/*=============================/RESET===================================*/
